.diagnostics-content
  overflow visible
  min-height 110px
  padding 0 0 15px 0

  .diagnostics-output
    white-space pre !important
    line-height 22px
    font-family monospace
    background-color lightgrey
    margin-left 45px
    padding 5px
    overflow-y scroll !important
    max-height 200px

  .check-item-icon
    color $label-info-color
    line-height inherit
    font-size 30px
    margin 1px 5px

  .check-item-icon-ok
    color green

  .check-item-icon-ko
    color red

  .check-item-icon-fail
    color $warning-color

  .check-spinner
    margin-left 10px
  .check-spinner .spinner
    margin-top 5px
    width 24px
    height 30px
    font-size 30px
    div
     width 4px
     border-radius 0
     margin-right 2px


